<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.springboot.dao.TbkDao">
    <resultMap id="TbkDto" type="com.spring.springboot.dto.TbkDto"/>
    <parameterMap id="TbkDto" type="com.spring.springboot.dto.TbkDto"/>
    <insert id="addTbkList">
        insert into tbk(id,title,pict_url,url,zk_final_price,reserve_price,volume) values (#{id},#{title},#{pict_url},#{url},#{zk_final_price},#{reserve_price},#{volume})
    </insert>
    <select id="getList" resultMap="TbkDto" parameterType="Int">
        select id,pict_url,url,title,volume,reserve_price,zk_final_price,createDate from tbk order by createDate limit ${(page -1)*20}, 20
    </select>
    <select id="getDetail" parameterType="String" resultMap="TbkDto">
        select DISTINCT id,pict_url,url,title,volume,reserve_price,zk_final_price,createDate from tbk where id = #{id} limit 1
    </select>
    <select id="getListTotal" resultType="java.lang.Integer">
        select count(*) from tbk
    </select>

</mapper>